#include ("header_small")

<form method="POST" action="/notimob">
<input id="command" name="command" type="hidden" value="add-connection"/>
<input id="page" name="page" type="hidden" value="preferences"/>
<input id="plugin_id" name="plugin_id" type="hidden" value="{$connection->plugin->id}"/>

<h1>Новое подключение:</h1>
<div class="form_field">&nbsp;<img src="{$plugin->icon}" align="top" width="16" height="16">&nbsp;<b>$plugin.getTitle ()</b></div>
<div>Введите, пожалуйста, ваши реквизиты:</div>
#include ($plugin.getEditForm ())
</form>

<div>

<a href="/notimob?page=preferences">В настройки</a><br/>
<a href="/notimob">Главная</a></div>
#include ("footer.html")