#include ("header_small.html")
<h1>Регистрация</h1>
<div>Зарегистрировавшись вы сможете проверять все свои сервисы за один раз.</div>
<form method="post" action="/notimob?page=main">
#if ($errorMessage && $errorMessage != "")
<div class="error">Ошибка: $errorMessage</div>
#end
<div class="form_field">*Логин:  &nbsp;<br/>
  <input name="newLogin" type="text" class="text" id="login" />
</div>
<div class="form_field">*Пароль:<br/>
  <input name="newPassword" type="text" class="text" id="password" />
</div>
<div class="form_field">Эл.&nbsp;почта<br/>
  <input name="email" type="text" class="text" id="email" />
</div>

<div>
<input id="command" name="command" type="hidden" value="create-user"/>
<input type="submit" class="text" value="Создать" width="20"/>
<!--  <input id="page" name="page" type="hidden" value="login"/>-->
</div>

</form>

<div>
<br/><a href="/notimob">На главную</a>
</div>

#include ("footer.html")
